
body{

	height: 1000px;

}


img.superbg {
    position:fixed;
    top:0px;
    left:0;
    z-index:-1;

}

/*#c{

	background: yellow;
	height: 156px;
	width: 23.6%;
	margin: 0px;
	position: absolute;
	left: 62%;top: 531px;

  }*/


  .tr{

  	height: 156px;
  	width: 0%;
  	background: red;
  	position: absolute;
  	top : 0px;
  	left: -50px;
  	z-index: 2;
  	transform: skew(30deg);



  	


  }

  .rubrique{

  	height: 156px;
  	width: 100%;
  	overflow: hidden;
  	position: relative;


  	

  }

  .rubrique:hover > .tr{

  	animation-name: glissement;
  	animation-duration: 3s;
  	width: 95%;

  	
  }




  #photo1{

  	position: sticky;
  	top : 0px;

  	
  	
  }



@keyframes glissement {


  from {
    width: 0%;
  }

  to {
    width: 95%;
  }

